# Getting and Knowning Data

In [1]:
import pandas as pd
import numpy as ny

## Step 1: Import Dataset

In [2]:
df=pd.read_csv('chipotle.tsv',sep='\t')

In [3]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

df.head(5)

In [4]:
df.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
df.shape

(4622, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [7]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
list(df.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [9]:
df.index

RangeIndex(start=0, stop=4622, step=1)

In [10]:
df.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [11]:
df.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

## step 2 loc vs iloc

In [12]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [13]:
df.loc[df.quantity==15]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25

In [14]:
df.loc[(df.quantity==15) | (df.item_name=="Nantucket Nectar")]

,order_id,quantity,item_name,choice_description,item_price
2,1,1,Nantucket Nectar,[Apple],$3.39
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
105,46,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
173,77,1,Nantucket Nectar,[Apple],$3.39
205,91,1,Nantucket Nectar,[Peach Orange],$3.39
436,189,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
601,247,2,Nantucket Nectar,[Pineapple Orange Banana],$6.78
925,381,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
1356,553,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
1585,641,1,Nantucket Nectar,[Peach Orange],$3.39
1626,656,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
1706,690,1,Nantucket Nectar,[Apple],$3.39
2162,872,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
2379,947,2,Nantucket Nectar,[Peach Orange],$6.78
2381,947,1,Nantucket Nectar,[Apple],$3.39
2430,965,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
2653,1053,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
2818,1118,1,Nantucket Nectar,[Apple],$3.39
2838,1128,1,Nantucket Nectar,[Peach Orange],$3.39
2853,1133,1,Nantucket Nectar,[Apple],$3.39
2949,1172,1,Nantucket Nectar,[Peach Orange],$3.39
3318,1330,1,Nantucket Nectar,[Peach Orange],$3.39
3368,1351,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
3570,1433,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25
3845,1541,1,Nantucket Nectar,[Peach Orange],$3.39
4019,1609,1,Nantucket Nectar,[Pineapple Orange Banana],$3.39
4078,1632,1,Nantucket Nectar,[Peach Orange],$3.39

In [15]:
df.loc[(df.quantity==2)&(df.item_name=="Nantucket Nectar")]

,order_id,quantity,item_name,choice_description,item_price
601,247,2,Nantucket Nectar,[Pineapple Orange Banana],$6.78
2379,947,2,Nantucket Nectar,[Peach Orange],$6.78

In [16]:
# pip install "jupyterlab-kite>=2.0.2"

Requirement already satisfied: jupyterlab-kite>=2.0.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (2.0.2)
Requirement already satisfied: jupyter_kite>=2.0.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-kite>=2.0.2) (2.0.2)
Requirement already satisfied: jupyterlab<4.0.0a0,>=3.0.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-kite>=2.0.2) (3.6.1)
Requirement already satisfied: tornado>=5.1.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (6.2)
Requirement already satisfied: jupyter_server>=1.1.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.23.6)
Requirement already satisfied: entrypoints in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.4)
Requirement already satisfied: jinja2>=2.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.1.2)
Requirement already satisfied: jupyterlab-server~=2.19 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.20.0)
Requirement already satisfied: packaging in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (21.3)
Requirement already satisfied: jupyter-core in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.3.0)
Requirement already satisfied: nbclassic in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.5.3)
Requirement already satisfied: notebook<7 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.5.3)
Requirement already satisfied: tomli in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.0.1)
Requirement already satisfied: jupyter-ydoc~=0.2.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.3)
Requirement already satisfied: jupyter-server-ydoc<0.7.0,>=0.6.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.6.1)
Requirement already satisfied: ipython in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (8.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jinja2>=2.1->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.1.2)
Requirement already satisfied: argon2-cffi in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (21.3.0)
Requirement already satisfied: pywinpty in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.0.10)
Requirement already satisfied: nbformat>=5.2.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (5.7.3)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (8.0.3)
Requirement already satisfied: traitlets>=5.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (5.9.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.17.1)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (7.2.10)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (3.6.2)
Requirement already satisfied: Send2Trash in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.8.0)
Requirement already satisfied: websocket-client in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.5.1)
Requirement already satisfied: prometheus-client in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.16.0)
Requirement already satisfied: pyzmq>=17 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (25.0.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-core->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.1.1)
Requirement already satisfied: pywin32>=300 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyter-core->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (304)
Requirement already satisfied: jupyter-server-fileid<1,>=0.6.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.8.0)
Requirement already satisfied: ypy-websocket<0.9.0,>=0.8.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.8.2)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-ydoc~=0.2.2->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.0.0)
Requirement already satisfied: y-py<0.6.0,>=0.5.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-ydoc~=0.2.2->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.5.9)
Requirement already satisfied: babel>=2.10 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.12.1)
Requirement already satisfied: json5>=0.9.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.9.11)
Requirement already satisfied: requests>=2.28 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.28.1)
Requirement already satisfied: jsonschema>=4.17.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (4.17.3)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.5.5)
Requirement already satisfied: ipykernel in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.15.2)
Requirement already satisfied: ipython-genutils in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.0)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbclassic->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from packaging->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.0.9)
Requirement already satisfied: stack-data in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.5.0)
Requirement already satisfied: backcall in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.0.31)
Requirement already satisfied: matplotlib-inline in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.1.6)
Requirement already satisfied: colorama in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.4.5)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.13.0)
Requirement already satisfied: jedi>=0.16 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.18.1)
Requirement already satisfied: decorator in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.1.1)
Requirement already satisfied: setuptools>=18.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (56.0.0)
Requirement already satisfied: sniffio>=1.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from anyio<4,>=3.1.0->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.3.0)
Requirement already satisfied: idna>=2.8 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from anyio<4,>=3.1.0->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (3.3)
Requirement already satisfied: pytz>=2015.7 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from babel>=2.10->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2022.2.1)
Requirement already satisfied: zipp>=0.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from importlib-metadata>=3.6->jupyter-ydoc~=0.2.2->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.15.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jedi>=0.16->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.8.3)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.3.10)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.12.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.19.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-client>=6.1.12->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.8.2)
Requirement already satisfied: jupyter-events>=0.5.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.6.3)
Requirement already satisfied: beautifulsoup4 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (4.11.1)
Requirement already satisfied: tinycss2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.2.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.2.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.5.0)
Requirement already satisfied: bleach in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (6.0.0)
Requirement already satisfied: defusedxml in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.7.1)
Requirement already satisfied: mistune<3,>=2.0.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.0.5)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.7.2)
Requirement already satisfied: fastjsonschema in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbformat>=5.2.0->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.16.3)
Requirement already satisfied: wcwidth in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2022.6.15.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.1.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.26.12)
Requirement already satisfied: aiosqlite<1,>=0.17.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.18.0)
Requirement already satisfied: aiofiles<23,>=22.1.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (22.1.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from argon2-cffi->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (21.2.0)
Requirement already satisfied: debugpy>=1.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipykernel->notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.6.3)
Requirement already satisfied: psutil in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipykernel->notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.9.1)
Requirement already satisfied: pure-eval in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from stack-data->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.2)
Requirement already satisfied: asttokens in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from stack-data->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.0.8)
Requirement already satisfied: executing in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from stack-data->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.0.0)
Requirement already satisfied: rfc3339-validator in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.1.4)
Requirement already satisfied: pyyaml>=5.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.0)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.1.1)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.0.7)
Requirement already satisfied: six>=1.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from bleach->nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.5.1)

In [17]:
#  pip install --use-pep517

Note: you may need to restart the kernel to use updated packages.

ERROR: You must give at least one requirement to install (see "pip help install")

In [18]:
# pip install "jupyterlab-kite>=2.0.2" --use-pep517

Requirement already satisfied: jupyterlab-kite>=2.0.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (2.0.2)
Requirement already satisfied: jupyter_kite>=2.0.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-kite>=2.0.2) (2.0.2)
Requirement already satisfied: jupyterlab<4.0.0a0,>=3.0.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-kite>=2.0.2) (3.6.1)
Requirement already satisfied: tornado>=5.1.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (6.2)
Requirement already satisfied: jupyter_server>=1.1.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.23.6)
Requirement already satisfied: entrypoints in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.4)
Requirement already satisfied: ipython in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (8.4.0)
Requirement already satisfied: tomli in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.0.1)
Requirement already satisfied: jupyterlab-server~=2.19 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.20.0)
Requirement already satisfied: jupyter-core in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.3.0)
Requirement already satisfied: jupyter-server-ydoc<0.7.0,>=0.6.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.6.1)
Requirement already satisfied: jinja2>=2.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.1.2)
Requirement already satisfied: packaging in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (21.3)
Requirement already satisfied: jupyter-ydoc~=0.2.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.3)
Requirement already satisfied: notebook<7 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.5.3)
Requirement already satisfied: nbclassic in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.5.3)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jinja2>=2.1->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.1.2)
Requirement already satisfied: websocket-client in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.5.1)
Requirement already satisfied: prometheus-client in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.16.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.17.1)
Requirement already satisfied: nbconvert>=6.4.4 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (7.2.10)
Requirement already satisfied: pyzmq>=17 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (25.0.1)
Requirement already satisfied: pywinpty in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.0.10)
Requirement already satisfied: Send2Trash in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.8.0)
Requirement already satisfied: argon2-cffi in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (21.3.0)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (8.0.3)
Requirement already satisfied: nbformat>=5.2.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (5.7.3)
Requirement already satisfied: traitlets>=5.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (5.9.0)
Requirement already satisfied: anyio<4,>=3.1.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (3.6.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-core->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.1.1)
Requirement already satisfied: pywin32>=300 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jupyter-core->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (304)
Requirement already satisfied: jupyter-server-fileid<1,>=0.6.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.8.0)
Requirement already satisfied: ypy-websocket<0.9.0,>=0.8.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.8.2)
Requirement already satisfied: y-py<0.6.0,>=0.5.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-ydoc~=0.2.2->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.5.9)
Requirement already satisfied: importlib-metadata>=3.6 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-ydoc~=0.2.2->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.0.0)
Requirement already satisfied: babel>=2.10 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.12.1)
Requirement already satisfied: jsonschema>=4.17.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (4.17.3)
Requirement already satisfied: requests>=2.28 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.28.1)
Requirement already satisfied: json5>=0.9.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.9.11)
Requirement already satisfied: ipython-genutils in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.0)
Requirement already satisfied: nest-asyncio>=1.5 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.5.5)
Requirement already satisfied: ipykernel in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.15.2)
Requirement already satisfied: notebook-shim>=0.1.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbclassic->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from packaging->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.0.9)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.13.0)
Requirement already satisfied: colorama in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.4.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.0.31)
Requirement already satisfied: stack-data in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.5.0)
Requirement already satisfied: decorator in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.18.1)
Requirement already satisfied: backcall in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.1.6)
Requirement already satisfied: setuptools>=18.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (56.0.0)
Requirement already satisfied: idna>=2.8 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from anyio<4,>=3.1.0->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (3.3)
Requirement already satisfied: sniffio>=1.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from anyio<4,>=3.1.0->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.3.0)
Requirement already satisfied: pytz>=2015.7 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from babel>=2.10->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2022.2.1)
Requirement already satisfied: zipp>=0.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from importlib-metadata>=3.6->jupyter-ydoc~=0.2.2->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (3.15.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from jedi>=0.16->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.8.3)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.3.10)
Requirement already satisfied: importlib-resources>=1.4.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.12.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.19.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-client>=6.1.12->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.8.2)
Requirement already satisfied: jupyter-events>=0.5.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.6.3)
Requirement already satisfied: nbclient>=0.5.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.7.2)
Requirement already satisfied: jupyterlab-pygments in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.2.2)
Requirement already satisfied: tinycss2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.2.1)
Requirement already satisfied: mistune<3,>=2.0.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.0.5)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.5.0)
Requirement already satisfied: bleach in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (6.0.0)
Requirement already satisfied: defusedxml in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.7.1)
Requirement already satisfied: beautifulsoup4 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (4.11.1)
Requirement already satisfied: fastjsonschema in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from nbformat>=5.2.0->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.16.3)
Requirement already satisfied: wcwidth in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.5)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2022.6.15.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.26.12)
Requirement already satisfied: aiofiles<23,>=22.1.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (22.1.0)
Requirement already satisfied: aiosqlite<1,>=0.17.0 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.18.0)
Requirement already satisfied: argon2-cffi-bindings in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from argon2-cffi->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (21.2.0)
Requirement already satisfied: debugpy>=1.0 in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipykernel->notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.6.3)
Requirement already satisfied: psutil in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from ipykernel->notebook<7->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (5.9.1)
Requirement already satisfied: executing in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from stack-data->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (1.0.0)
Requirement already satisfied: pure-eval in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from stack-data->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.2.2)
Requirement already satisfied: asttokens in c:\users\dttrung\appdata\roaming\python\python38\site-packages (from stack-data->ipython->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.0.8)
Requirement already satisfied: python-json-logger>=2.0.4 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (6.0)
Requirement already satisfied: rfc3986-validator>=0.1.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.1.1)
Requirement already satisfied: rfc3339-validator in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from jupyter-events>=0.5.0->jupyter-server-fileid<1,>=0.6.0->jupyter-server-ydoc<0.7.0,>=0.6.0->jupyterlab<4.0.0a0,>=3.0.0->jupyterlab-kite>=2.0.2) (0.1.4)
Requirement already satisfied: six>=1.5 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.16.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (2.3.2.post1)
Requirement already satisfied: webencodings in c:\users\dttrung\appdata\local\programs\python\python38\lib\site-packages (from bleach->nbconvert>=6.4.4->jupyter_server>=1.1.2->jupyter_kite>=2.0.0->jupyterlab-kite>=2.0.2) (0.5.1)

In [19]:
# select all rows with multiple conditions
df.loc[(df.quantity==2)&(df.item_name=="Nantucket Nectar"),['order_id','quantity','item_name']]

      order_id  quantity         item_name
601        247         2  Nantucket Nectar
2379       947         2  Nantucket Nectar

In [20]:
df.iloc[[9]]

,order_id,quantity,item_name,choice_description,item_price
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [21]:
df.iloc[3:10]

,order_id,quantity,item_name,choice_description,item_price
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [22]:
X=df.iloc[3:5,0:-1]

In [23]:
Y=df.iloc[3:5, -1]

In [24]:
print(Y)

3     $2.39
4    $16.98
Name: item_price, dtype: object

## Step 3: Data Manipulation

In [25]:
df.item_price.dtype

dtype('O')

In [26]:
# Apply()
df.item_price.apply(lambda x:x.replace("$",""))

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
         ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [31]:
df.item_price.apply(lambda x:float(x.replace("$","")))

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [32]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [33]:
df.item_price=df.item_price.apply(lambda x:float(x.replace("$","")))

In [34]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [36]:
df["total_price"]=df["quantity"]*df["item_price"]

In [37]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [38]:
# how much was the revenue for the period dataset?
revenue=df['total_price'].sum()
print(revenue)

39237.02

In [45]:
# Which was the most-ordered item?
# Groupby
c=df.groupby('item_name')["quantity"].sum()

In [48]:
c.sort_values(ascending=False).head(5)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [51]:
#Unique values
df.item_name.value_counts().count()

50

In [52]:
df.item_name.nunique()

50